<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开外挂你懂吗</title>
</head>
<body>
<div align="center">
    <form action="/g" method="get">
        你当前的骰子:<br><input maxlength="5" type="text" name="my_dice" value="{{ my_dice }}" oninput="value=value.replace(/[^\d]/g,'')"><br><br>
        几个几:<br><input maxlength="2" id="jiao" type="text" name="num" value="{{ num }}"><br><br>
        不斋0 |斋 1:<br><input maxlength="1" type="text" name="only" value="{{ only }}" oninput="value=value.replace(/[^\d]/g,'')"><br><br>
        <input type="submit" value="点击">
    </form>
    <textarea rows="30" cols="55" readonly="readonly">
    {{ c }}
    </textarea>
</div>
</body>
</html>